/* Modal Overlay - Full screen backdrop */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

/* Modal Content Container - Centered */
.modal-content {
    position: relative;
    margin: 0 auto;
    
    /* Center vertically */
    /* top: 10%; */
    /* transform: translateY(-50%); */
}